.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('../img/bg.jpg');
  background-size: 100%;
  background-position-y: 40%;

  .main {
    flex: 1 1 auto;
    overflow: auto;
  }
}

.logo {
  text-align: center;
  width: 100%;
  img {
    height: 60px;
  }
  .baseline {
    font-size: 1em;
    opacity: 0.7;
  }
}

.playlists-container {
  display: flex;
  justify-content: flex-between;
  flex-wrap: wrap;
  text-align: center;

  h4 {
    text-transform: uppercase;
    font-weight: 900;
    a {
      color: #333;
      &:hover {
        color: #333;
      }
    }
  }

  .playlist {
    margin: 16px;

    iframe {
      border: 0;
      border-radius: 4px;
    }
  }
}
