$sidebar-bg-color: #eee;
$nav-active-bg-color: #ddd;
$nav-hover-bg-color: #ddd;
$bg-primary: #337ab7;

$primary-color: #337ab7;
$success-color: #5cb85c;
$info-color: #5bc0de;
$warning-color: #f0ad4e;
$danger-color: #d9534f;
$light-color: #aaa;
