@import '../../styles/_colors.scss';

.dashboard {
  iframe {
    border: 0;
  }

  section {
    text-align: center;
  }

  .selector {
    button {
      display: inline-block;
      border: 0;
      margin: 5px 20px;
      width: 30px;
      height: 30px;
      font-size: 1.3em;

      border-radius: 50%;
      background-color: #ffab00;

      &:hover {
        background-color: #ff991f;
      }
    }
  }
}

svg {
  #bg {
    fill: #efefef;
  }

  [cc] {
    fill: #fff;
    stroke: #555;
    stroke-width: 0.5px;
  }

  g[cc='cm'] {
    fill: red;
  }

  g.ru {
    fill: orange;
  }
}
