.main-nav {
  z-index: 10;
  padding: 40px 0;
  text-align: center;
  
  a {
    img {
      height: 80px;
    }
    &:hover {
      text-decoration: none;
    }
  }

  .baseline {
    font-family: 'Lora', serif;
    font-size: 1.2em;
    text-transform: uppercase;
    
  }
}
